@font-face {
  font-family: 'DIN';
  src: url(./DINPro-CondensedMedium.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'revicons';
  src: url(./revicons.woff2) format("woff2");
  font-display: swap;
}