*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

ul,
li,
a {
  color: currentColor;
  text-decoration: none;
  list-style: none;
}

img,
picture,
svg,
video {
  display: block;
  pointer-events: none;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  border: 1px solid tomato;
  padding: 0;
  color: white;
  font-family: "DIN", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", sans-serif;
  font-weight: 500;
  background-color: black;
}

.site-header {
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 30px;
  width: 100%;
  height: 50px;
  border: 1px solid grey;
  padding-inline: 30px;
  background: black;
}

.site-header a {
  cursor: pointer;
}

.scroll-lock {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.site-title {
  font-size: 35px;
  line-height: 1.3;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.menu-list a {
  padding: calc(0.33 * 30px);
  color: #b3b3b3;
  font-size: 22px;
  line-height: 1.15;
}

.current a {
  color: white;
}

main {
  position: relative;
  margin-top: 50px;
  border: 1px solid green;
}

.brand-name {
  position: relative;
  z-index: 2;
  width: min-content;
  padding: 30px;
  font-size: 152px;
  line-height: 0.85;
  text-transform: uppercase;
}

.introImage {
  width: 100%;
  margin-top: -448px;
  object-fit: cover;
  aspect-ratio: 1/0.425;
}

.entry-header {
  padding-inline: max(calc((100% - 1600px) / 2 + 30px), 30px);
  color: black;
  background: white;
}

.entry-title {
  display: flex;
  align-items: center;
  height: 70px;
  font-size: 2.5rem;
  line-height: 47px;
  text-transform: uppercase;
}

.entry-content {
  max-width: 1600px;
  min-height: 90vh;
  margin: 0 auto;
  border: 1px solid blue;
  background: #141414;
}

.block-columns {
  max-width: min(calc(100% - 2 * 30px), 1240px);
  margin-top: calc(0.66 * 30px);
  margin-bottom: 40px;
  margin-inline: auto;
  border: 1px solid pink;
}

.block-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 1em;
  background: #f7f4ee;
  aspect-ratio: 1.77777777778;
}

.block-image img {
  width: 71.5%;
  object-fit: contain;
}

@media screen and (max-width: 1350px) {
  .brand-name {
    font-size: 55px;
  }

  .introImage {
    margin-top: -204px;
  }
}

@media screen and (max-width: 1024px) {
  .site-header {
    padding-inline: 15px;
  }

  .brand-name {
    padding-inline: 15px;
  }

  .entry-header {
    padding-inline: 15px;
  }
}

@media screen and (max-width: 822px) {
  .block-columns {
    max-width: calc(100% - 30px);
  }
}

@media screen and (max-width: 782px) {
  .entry-title {
    font-size: 28px;
  }
}

@media screen and (max-width: 482px) {
  .introImage {
    margin-top: 0;
  }
}
